<div id='teach_pages' class="row">
  <div class="col-md-1"></div>
  <div class="col-md-3">
    <%= render 'static_pages/left_menue' %>
  </div>

  <div id='central_col' class="col-md-7">
    <h4 class='level_h4'>Контакти</h4>
    <div class='levels_content'>



    </div>
  </div>
  <div class="col-md-1"></div>
</div>