<div class="row">
  <div class="col-md-4"></div>

  <div id='central_col' class="col-md-4">
    <div class="page-header">
      <h1>Edit topic</h1>
    </div>

    <%= render 'form' %>
  </div>

  <div class="col-md-4"></div>
</div>