<div class="row">
  <div class="col-md-2"></div>

  <div id='central_col' class="col-md-8">
    <div>
      <%= gravatar_for @user %>
      <%= @user.name%>
    </div>

    <% if @user.topics.any? %>
        <h3>Теми (<%= @user.topics.count %>)</h3>
        <ol class="topics">
          <% for topic in @user.topics %>
            <li><%= link_to topic.name, topic %></li>
          <% end %>
        </ol>

    <% end %>
  </div>

  <div class="col-md-2"></div>
</div>