<div class='level_info' align='justify'>
  <ul>
    <h5>Цей рівень англійської мови призначений для тих, хто:</h5>
    <li>раніше вивчав англійську мову й володіє нею на рівні Starter (Beginner).</li>
  </ul>
  <ul>
    <h5>Студенти на цьому рівні англійської мови (на додаток до вмінь та навичок опанованих на попередньому рівні):</h5>
    <li>будують прості речення й питання;</li>
    <li>вміють написати листівку, e-mail, невеликий запит або повідомлення;</li>
    <li>вміють грамотно почати телефонну розмову;</li>
    <li>можуть коротко охарактеризувати себе;</li>
    <li>відпрацьовують на практиці вміння спілкуватися англійською мовою у різних побутових ситуаціях.</li>
  </ul>
</div>