<div class='level_info' align='justify'>
  <ul>
    <h5>Цей рівень англійської мови призначений для тих, хто:</h5>
    <li>раніше вивчав англійську мову й володіє нею на рівні Pre-Intermediate.</li>
  </ul>
  <ul>
    <h5>Студенти на цьому рівні англійської мови (на додаток до вмінь та навичок опанованих на попередньому рівні):</h5>
    <li>опановують 2200 слів та фраз, частина з яких являє собою стійкі вислови, ідіоми, фразові дієслова. Крім того, слухачі опановують різні варіанти вживання того самого слова, а також синоніми та антоніми різних лексичних одиниць;</li>
    <li>опановують складні граматичні структури;</li>
    <li>створюють складні речення, діалоги й тексти;</li>
    <li>можуть підтримувати тривалу бесіду;</li>
    <li>вміють правильно зрозуміти загальний зміст інформації з контексту й реагувати відповідним чином;</li>
    <li>можуть доповнювати виклад тої або іншої ситуації особистими коментарями;</li>
    <li>можуть скласти характеристику себе й інших.</li>
  </ul>
</div>