<div class='level_info' align='justify'>
  <ul>
    <h5>Цей рівень англійської мови призначений для тих, хто:</h5>
    <li>раніше вивчав англійську мову й володіє нею на рівні Elementary.</li>
  </ul>
  <ul>
    <h5>Студенти на цьому рівні англійської мови (на додаток до вмінь та навичок опанованих на попередніх рівнях):</h5>
    <li>опановують 2000 поширених слів та фраз (включаючи слова попередніх рівнів), частина з яких є стійкими висловами, ідіомами, фразовими дієсловами. Крім того, студенти опановують різні варіанти вживання одного й того самого слова;</li>
    <li>засвоюють досить складні граматичні структури;</li>
    <li>надають інформацію особистого й неособистого характеру;</li>
    <li>можуть описати ситуацію, місце або людину, формулювати своє ставлення до предметів, проблем і людей;</li>
    <li>вміють написати листівку, офіційне/неофіційний лист, e-mail, запит, вибачення або прохання;</li>
    <li>вміють грамотно вести телефонну розмову;</li>
    <li>можуть охарактеризувати себе.</li>
  </ul>
</div>