<div class='level_info' align='justify'>
  <ul>
    <h5>Цей рівень англійської мови для тих, хто:</h5>
    <li>раніше ніколи не вивчали англійську мову;</li>
    <li>вивчали англійську дуже давно і вважають для себе необхідним почати її вивчення із самого початку.</li>
  </ul>
  <ul>
    <h5>На цьому рівні англійської мови студенти:</h5>
    <li>одержують загальне уявлення про англійську мову, її структуру та фонетичну систему;</li>
    <li>вивчають алфавіт, правила читання;</li>
    <li>опановують більше 900 найбільш поширених слів (слів, фраз, виразів, кліше);</li>
    <li>розвивають навички сприйняття англійської мови на слух;</li>
    <li>опановують найбільш вживані й необхідні для повсякденного спілкування граматичні структури;</li>
    <li>долають психологічний бар’єр;</li>
    <li>вчаться будувати прості речення й питання.</li>
  </ul>
</div>