/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *


*= require bootstrap
*/

@import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0-rc2/css/bootstrap-glyphicons.css");

body {
  padding-top: 60px;

  background: url('/assets/sheep.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#header {
  .navbar {
    background: rgb(50,50,50);
    background: rgba(50,50,50, 0.9);
    border: none;
    a {
      color: #C3C3C3;
    }
    a:hover {
      color: #ffffff;
    }
  }
}

#footer {
  .navbar {
    background: rgb(50,50,50);
    background: rgba(50,50,50, 0.9);
    border: none;
    margin-bottom: 0;
    margin-top: 40px;
    min-height: 100px;
    padding-top:10px;

    .footer_nav {
      margin-left: 50px;
      list-style-type: none;
      li {
        color: #3E7DE6;
        a {
          color: #C3C3C3;
          font-size: 12px;
        }
        a:hover {
          color: #ffffff;
          text-decoration: none;
          font-size: 14px;
        }
      }
    }
  }
}

.container {
  min-height: 435px;
  max-width: 1170px;
}

.navbar-brand {
  margin-right: 60px;
}

#main_footer_menu {
  padding-bottom:10px;
}

#central_footer_menu {
  border-left: 1px solid #474747;
  border-right: 1px solid #474747;
}

#drop_menu {
  .drop_link {
    color: #000000;
  }
}

.caret {
  float: right;
  margin-top:7px;
}

@import "carts";
@import "forum";
@import "store";
@import "teach";
@import "mp3-player-button";




