// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.cart_title {
  font: 140% bold;
  padding-bottom: 20px;
}

.item_price, .total_line {
  bordet-top: 1px solid black;
  text-align: left;
}

