
  .levels_content {
    list-style-type: none;
    p {
      text-indent: 1.5em;
      text-align: justify; /* Выравнивание по ширине */
      padding-right: 20px;
    }

    h5 {
      text-indent: 1.5em;
      color: maroon; /* Цвет текста */
      font-weight: 600;
    }

    li {
      padding:0 20px 10px 0;
      text-align: justify;
    }
  }

  .btn-group {
    width: 100%;
    border: none;
  }

  .glyphicon {
    padding-right: 10px;
    color: #1378CA;
  }
