
.teach_nav {
  margin: 40px 0 0 0;
}

.level_info {
  padding-right: 30px;
  padding-bottom: 20px;
  h5 {
    color: maroon; /* Цвет текста */
    font-weight: 600;
  }
}
#teach_pages {
  #central_col {
    background-color: white;
  }

  #left_col {
    width: 100%;
  }
}
