#central_col {
  padding-bottom: 15px;

  #user_page_content {
    list-style-type: none;

    padding: 10px 20px;
    background-color: white;

    border-radius: 6px;
    -moz-border-radius: 6px;
    -khtml-border-radius: 6px;
  }
}