
<tr class='line_item'>
	<td width="5%"><%= line_item.quantity %></td>
    <td width="5%">x</td>
	<td width="50%"><h5><%= sanitize(truncate line_item.product.title, length: 11) %></h5></td>
	<td width="25%"><%= line_item.total_price %> грн.</td>
</tr>